<div class="preview-container">
  <%= spinner.html_safe %>
  <iframe id="widget-sandbox" seemless="seemless"></iframe>
</div>
<%= form_tag preview_widgets_path, :class => 'preview-widget-form', :target => 'widget-sandbox' do %><% end %>
<%= form_for(@widget, :html => { :class => 'widget-form' }) do |f| %>
  <%= render '/form_errors' %>
  <div class="row">
  <div class="widget-tools">
    <div class="preferences item">
      <i class="icon-cog icon" title="preferences" data-id="preferences"></i>
      <div class="content" data-url="<%= widget_path %>">
        <%= spinner.html_safe %>
        <div>
          <%= label_tag :column %>

          <input name="[widget][options][column]" value="<%= options_value(@widget, 'column', 4) %>" type="number" min="1" max="<%= Settings.gridster.margin[0] %>" class="options-item" />
        </div>
        <div>
          <%= label_tag :row %>
          <input name="[widget][options][row]" value="<%= options_value(@widget, 'row', 4) %>" type="number" min="1" max="<%= Settings.gridster.margin[1] %>" class="options-item" />
        </div>

        <i class="action icon-cross cancel"></i>
        <i class="action icon-check save"></i>
      </div>
    </div>
    <div class="resources item">
      <i class="icon-database icon" title="resources" data-id="resources"></i>
      <div class="content"></div>
    </div>
  </div>
    <div class="large-12 columns">
      <div class="large-7 columns">
        <%= f.hidden_field :js %>
        <%= render '/editor', :mode => 'js', :url => widget_path %>
      </div>
      <div class="large-5 columns">
<!--         <%= f.text_field :name, :placeholder => 'Widget name' %>
        <div class="actions">
          <a
            href="#"
            class="preview button secondary small"
            >Preview</a>

          <%= f.submit :class=> 'button small' %>
        </div>
 -->
        <%= f.hidden_field :css, :placeholder => 'css' %>
        <%= render '/editor', :mode => 'css', :url => widget_path %>
        <%= f.hidden_field :html, :placeholder => 'html' %>
        <%= render '/editor', :mode => 'html', :url => widget_path %>
      </div>
    </div>
  </div>
<% end %>
