<div class="preview-container">
  <iframe id="widget-sandbox" seemless="seemless"></iframe>
</div>
<%= form_tag preview_widgets_path, :class => 'preview-widget-form', :target => 'widget-sandbox' do %><% end %>
<%= form_for(@widget, :html => { :class => 'widget-form' }) do |f| %>
  <%= render '/form_errors' %>
  <div class="options">
    <div>
      <%= label_tag :column %>
      <%= number_field_tag :column, options_value(@widget, 'column', 4), { :min => 1, :max => Settings.gridster.margin[0] } %>
    </div>
    <div>
      <%= label_tag :row %>
      <%= number_field_tag :row, options_value(@widget, 'row', 2), { :min => 1, :max => Settings.gridster.margin[1] } %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="large-7 columns">
        <%= f.hidden_field :js %>
        <%= render '/editor', :mode => 'js', :url => widget_path(@widget) %>
      </div>
      <div class="large-5 columns">
<!--         <%= f.text_field :name, :placeholder => 'Widget name' %>
        <div class="actions">
          <a
            href="#"
            class="preview button secondary small"
            >Preview</a>

          <%= f.submit :class=> 'button small' %>
        </div>
 -->
        <%= f.hidden_field :css, :placeholder => 'css' %>
        <%= render '/editor', :mode => 'css', :url => widget_path(@widget) %>
        <%= f.hidden_field :html, :placeholder => 'html' %>
        <%= render '/editor', :mode => 'html', :url => widget_path(@widget) %>
      </div>
    </div>
  </div>
<% end %>
