<div class="widget-preferences-group reveal-modal" id="widget-preferences" data-url="<%= widget_path %>" data-widget-preferences data-reveal>
  <div class="reveal-modal__title"><i class="icon-cog"></i> Preferences</div>
  <div class="reveal-modal__content">
  <%= form_for(@widget, html: { id: 'modal_edit_widget' } ) do |f| %>
    <%= f.hidden_field :column, { 'data-field' => true } %>
    <%= f.hidden_field :row, { 'data-field' => true } %>
    <%= overlay_spinner.html_safe %>
    <div class="widget-size-options-group" data-size-options data-value="[<%= @widget.column %>, <%= @widget.row %>]">
      <label>Select a size</label>
      <% 1.upto(Settings.gridster.max_size[1]) do |row| %>
      <div class="widget-size-options-row">
        <% 1.upto(Settings.gridster.max_size[0]) do |column| %>
        <div
          class="widget-size-option widget-size-option-col"
          data-option
          data-col="<%= column %>"
          data-row="<%= row %>"
        ></div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div>
      <a href="<%= widget_path @widget %>" target="_blank">Preview</a>
    </div>
    <button class="button secondary" tabindex="2" data-cancel type="button"><i class="icon-back"></i>Cancel</button>
    <button class="button" type="submit" tabindex="3" data-save><i class="icon-save"></i>OK</button>
  </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
