<% content_for :tools do %>
<ul class="right dashboard-tools">
  <li class="divider"></li>
  <li>
    <a href="#" title="add resources" data-widget-resources data-modal-id="widget-resources">
      <i class="icon-database dashboard-tools-icon"></i> Resources
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#" title="Preferences" data-widget-preferences data-modal-id="widget-preferences">
      <i class="icon-cog dashboard-tools-icon"></i> Preferences
    </a>
  </li>
  <li class="divider"></li>
  <li><a href="<%= copy_widgets_path @widget, :redirect => @redirect %>" data-confirm="Save this as a new widget?"><i class="icon-docs"></i> Save as </a></li>
  <li class="divider"></li>
  <li><a href="<%= @redirect %>"><i class="icon-forward"></i> Done</a></li>
</ul>
<% end %>
<div class="widget-name editable-name" data-url="<%= widget_path %>" data-name="widget[name]" contenteditable="true"><%= @widget.name %></div>

<div class="preview-container">
  <%= overlay_spinner.html_safe %>
  <%= widget_sandbox('', 'widget-sandbox').html_safe %>
  <%= widget_modifier(:widget_id => @widget.id).html_safe %>
  <div class="widget-debugger-group" data-widget-debugger>
    <pre class="widget-debugger__console" data-console></pre>
    <div class="widget-debugger__tip">Check your JS console for more details. </div>
  </div>
</div>
<%= form_tag preview_widgets_path, :class => 'preview-widget-form', :target => 'widget-sandbox' do %><% end %>
<%= form_for(@widget, :html => { :class => 'widget-form' }) do |f| %>
<div class="row">
  <div class="large-12 columns">
    <div class="large-7 columns">
      <%= f.hidden_field :js %>
      <%= render '/editor', :mode => 'js', :url => widget_path, :prefix => 'widget'  %>
    </div>
    <div class="large-5 columns">
      <%= f.hidden_field :html, :placeholder => 'html' %>
      <%= render '/editor', :mode => 'html', :url => widget_path, :prefix => 'widget' %>
      <%= f.hidden_field :css, :placeholder => 'css' %>
      <%= render '/editor', :mode => 'css', :url => widget_path, :prefix => 'widget' %>
    </div>
  </div>
</div>
<% end %>
<%= render 'preferences_modal' %>
<%= render 'resources_modal' %>
