<% content_for :tools do %>
<ul class="right dashboard-tools">
  <li class="divider"></li>
  <li>
    <a href="#" title="add resources" data-widget-resources data-modal-id="widget-resources">
      <i class="icon-database dashboard-tools-icon"></i> Resources
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#" title="Preferences" data-reveal-id="widget-preferences" data-reveal>
      <i class="icon-cog dashboard-tools-icon"></i> Preferences
    </a>
  </li>
  <li class="divider"></li>
  <li><a href="<%= copy_widgets_path @widget, :redirect => @redirect %>" data-confirm="Save this as a new widget?"><i class="icon-docs"></i> Save as </a></li>
  <li class="divider"></li>
  <li><a href="<%= @redirect %>"><i class="icon-forward"></i> Done</a></li>
</ul>
<% end %>
<div class="widget-name editable-name" data-editable-name data-url="<%= widget_path %>" data-name="widget[name]" contenteditable="true"><%= @widget.name %></div>

<div class="preview-container" data-widget-previewer>
  <%= overlay_spinner.html_safe %>
  <%= widget_sandbox('', 'widget-sandbox', '', 'interactive').html_safe %>
  <div class="widget-debugger-group" data-widget-debugger>
    <pre class="widget-debugger__console" data-console></pre>
    <div class="widget-debugger__tip">Check your JS console for more details. </div>
  </div>
  <%= form_tag preview_widgets_path, :target => 'widget-sandbox', 'data-widget-preview-form' => true do %><% end %>
</div>
<%= form_for(@widget, :html => { :class => 'widget-form', 'data-widget-form' => true }) do |f| %>
<div class="row">
  <div class="large-12 columns" id="widget-editor-layout" data-widget-editor-layout>
    <div class="large-7 columns">
      <div data-tabs>
        <dl class="tabs" data-flight-tabs>
          <dd class="active" data-target="js"><a href="#">JS</a></dd>
          <dd data-target="meta"><a href="#">Meta</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" data-id="js">
            <%= f.hidden_field :js %>
            <%= render '/editor',
              :mode => 'js',
              :url => widget_path,
              :prefix => 'widget',
              :auto_preview => true
            %>
          </div>
          <div class="content" data-id="meta">
            <%= f.hidden_field :meta, "data-meta-field" => true %>
            <%= render '/editor',
              :mode => 'yaml',
              :url => widget_path,
              :prefix => 'widget',
              :bind => '[data-meta-field]',
              :auto_preview => false
            %>
          </div>
        </div>
      </div>
    </div>
    <div class="large-5 columns">
      <div data-tabs>
        <dl class="tabs">
          <dd class="active" data-target="html"><a href="#">HTML</a></dd>
          <dd data-target="css"><a href="#">CSS</a></dd>
          <dd data-target="builder"><a href="#">Widget builder</a></dd>
        </dl>
        <div class="tabs-content">
          <div class="content active" data-id="html">
            <%= f.hidden_field :html, :placeholder => 'html' %>
            <%= render '/editor',
              :mode => 'html',
              :url => widget_path,
              :prefix => 'widget',
              :auto_preview => true
            %>
          </div>
          <div class="content" data-id="css">
            <%= f.hidden_field :css, :placeholder => 'css' %>
            <%= render '/editor',
              :mode => 'css',
              :url => widget_path,
              :prefix => 'widget',
              :auto_preview => true
            %>
          </div>
          <div class="content" data-id="builder">
            <div class="widget-builder-group" data-widget-builder data-meta="<%= @widget.meta %>">
              <%= render 'builder.ejs', :format => 'ejs' %>
              <div data-content></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>
<%= render 'preferences_modal' %>
<%= render 'resources_modal' %>
