<% content_for :tools do %>
<ul class="right dashboard-tools">
  <li class="divider"></li>
  <li>
    <a href="#" title="add resources" data-widget-resources data-modal-id="widget-resources">
      <i class="icon-database dashboard-tools-icon"></i> Resources
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#" title="Preferences" data-widget-preferences data-modal-id="widget-preferences">
      <i class="icon-cog dashboard-tools-icon"></i> Preferences
    </a>
  </li>
  <li class="divider"></li>
  <li><a href="<%= copy_widgets_path @widget, :redirect => @redirect %>"><i class="icon-docs"></i> Save as </a></li>
  <li class="divider"></li>
  <li><a href="<%= @redirect %>"><i class="icon-forward"></i> Done</a></li>
</ul>
<% end %>
<div class="widget-name editable-name" data-url="<%= widget_path %>" data-name="widget[name]" contenteditable="true"><%= @widget.name %></div>

<div class="preview-container">
  <%= overlay_spinner.html_safe %>
  <%= widget_sandbox('', 'widget-sandbox').html_safe %>
  <%= widget_modifier(:widget_id => @widget.id).html_safe %>
</div>
<%= form_tag preview_widgets_path, :class => 'preview-widget-form', :target => 'widget-sandbox' do %><% end %>
<%= render 'preferences_modal' %>
<%= render 'resources_modal' %>
