<%= sandbox_css('widget', @widget[:css]).html_safe %>
<div
  class="widget-preview widget"
  data-dimensions="<%= Settings.gridster.dimensions %>"
  data-sizex="<%= @widget[:options][:column] %>"
  data-sizey="<%= @widget[:options][:row] %>"
  >
  <%= html_safe @widget[:html] %>
</div>
<% content_for :javascript do %>
<script type="text/javascript">
(function($, Observer, window) {
  'use strict';

  Observer.onPageReady('preview.widgets', function() {
    var widget = Observer.modules.widget($('.widget'));
    <%= html_safe js_filter(@widget[:js]) %>

  });
}(jQuery, Observer, window));
</script>
<% end %>
