<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @widget.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @widget.name %>
</p>

<p>
  <b>Js:</b>
  <%= @widget.js %>
</p>

<p>
  <b>Css:</b>
  <%= @widget.css %>
</p>

<p>
  <b>Html:</b>
  <%= @widget.html %>
</p>

<p>
  <b>Options:</b>
  <%= @widget.options %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
