<% content_for :tools do %>
<ul class="right dashboard-tools">
  <li class="divider"></li>
  <li>
    <a href="<%= dashboard_new_widget_path({ dashboard_id: @dashboard.id }) %>" title="add widgets">
      <i class="icon-line-graph dashboard-tools-icon"></i> Add widget
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#" data-reveal-id="dashboard-preferences" title="add widgets">
      <i class="icon-cog dashboard-tools-icon" title="preferences"></i> Dashboard
    </a>
  </li>
</ul>
<% end %>
<div class="dashboard-menu-group">
  <div class="monitor item">
    <a href="#" title="full screen" class="monitor-fullscreen">
      <i class="icon-monitor dashboard-menu-icon" title="full screen"></i>
    </a>
  </div>
</div>
<div class="dashboard-edit-form-group">
  <div
    class="dashboard gridster"
    data-dimensions="<%= Settings.gridster.dimensions %>"
    data-max-size="<%= Settings.gridster.max_size %>"
    data-update-url="<%= dashboard_update_widgets_path({ :dashboard_id => @dashboard.id }) %>"
    style="width: <%= dashboard_settings.width %>px"
    >
      <ul class="gridster-widgets">
      <% @dashboard_widgets.each do |dw| %>
        <li
          data-col="<%= dw.col %>"
          data-row="<%= dw.row %>"
          data-sizex="<%= dw.size_x %>"
          data-sizey="<%= dw.size_y %>"
          data-url="<%= widget_dashboards_path(:token => @dashboard.token, :dashboard_widget_id => dw.id) %>"
          data-remove-url="<%= dashboard_remove_widget_path({ :dashboard_id => @dashboard.id }) %>"
          data-id="<%= dw.id %>"
        >
          <%= widget_sandbox('', '', dw.widget_id).html_safe %>
          <%= widget_modifier(:remove => true).html_safe %>
        </li>
      <% end %>
      </ul>
  </div>
</div>
<%= render 'widgets_modal' %>
<%= render 'preferences_modal' %>


