<% content_for :tools do %>
<ul class="right dashboard-tools">
  <li class="divider"></li>
  <li>
    <a href="#" data-reveal-id="widgets-selector" title="add widgets">
      <i class="icon-line-graph dashboard-tools-icon"></i> Add widget
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="#" data-reveal-id="dashboard-preferences" title="add widgets">
      <i class="icon-cog dashboard-tools-icon" title="preferences"></i> Dashboard
    </a>
  </li>
</ul>
<% end %>
<div class="dashboard-menu-group">
  <div class="monitor item">
    <a href="#" title="full screen" class="monitor-fullscreen">
      <i class="icon-monitor dashboard-menu-icon" title="full screen"></i>
    </a>
  </div>
</div>
<div class="dashboard-edit-form-group">
  <div
    class="dashboard gridster"
    data-dimensions="<%= Settings.gridster.dimensions %>"
    data-max-size="<%= Settings.gridster.max_size %>"
    data-update-url="<%= dashboard_update_widgets_path({ :dashboard_id => @dashboard.id }) %>"
    >
      <ul class="gridster-widgets">
      <% @dashboard_widgets.each do |dw| %>
        <li data-col="<%= dw.col %>" data-row="<%= dw.row %>" data-sizex="<%= dw.size_x %>" data-sizey="<%= dw.size_y %>" data-url="<%= widget_path(dw.widget) %>" data-remove-url="<%= dashboard_remove_widget_path({ :dashboard_id => @dashboard.id }) %>" data-id="<%= dw.id %>">
          <%= widget_sandbox('', '', dw.widget_id).html_safe %>
        </li>
      <% end %>
      </ul>
  </div>
</div>
<div class="widgets-selector-group reveal-modal" id="widgets-selector" data-url="<%= dashboard_add_widget_path({ :dashboard_id => @dashboard.id }) %>">
  <% @widgets.each do |widget| %>
  <div
    class="widgets-selector-item"
    data-row="<%= widget.row %>"
    data-col="<%= widget.column %>"
    data-url="<%= widget_path widget %>"
    data-id="<%= widget.id %>"
    data-remove-url="<%= dashboard_remove_widget_path({ :dashboard_id => @dashboard.id }) %>"
  >
    <div><i class="widgets-selector-icon icon-line-graph"></i></div>
    <%= widget.name %>
    <%= widget_sandbox.html_safe %>
  </div>
  <% end %>
  <div class="widgets-selector-actions">
    <a href="<%= new_widget_path(:redirect => request.fullpath) %>" class="button small"><i class="icon-plus"></i>new widget</a>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div class="dashboard-preferences-group reveal-modal" id="dashboard-preferences">
  <%= spinner.html_safe %>
  <%= form_for(@dashboard) do |f| %>
  <div class="field">
    <%= f.text_field :name, :class => 'dashboard-preference-text' %>
  </div>
  <div class="dashboard-preferences-action">
    <a href="#" class="button secondary cancel-dashboard-action">
      <i class="icon-back"></i> Cancel
    </a>
    <a href="#" class="button primary save-dashboard-action">
      <i class="icon-save"></i> Save
    </a>
  </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

