<%= form_for(@query, :html => {:class => 'query-form' }) do |f| %>
  <%= render '/form_errors' %>
  <div class="field">
    <%= f.text_field :name, :placeholder => 'New query name' %>
  </div>
  <div class="editor-container field">
    <%= f.hidden_field :value, :value => @query.value %>
    <div id="query-editor" data-mode="sql" data-bind="#query_value"></div>
  </div>
  <div class="actions field">
    <a href="#" class="button run-btn secondary" data-url="<%= run_queries_path %>">run</a>
    <%= f.submit :class => 'button' %>
  </div>
  <div class='result-content'><!-- Container for ajax content --></div>
<% end %>
