<% content_for :tools do %>
<ul class="right dashboard-tools">
  <li class="divider"></li>
  <li>
    <a href="<%= copy_queries_path @query, :redirect => @rediect %>" data-confirm="Save this as a new query?" class="query-done">
      <i class="icon-docs dashboard-tools-icon" title="done"></i> Save as
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="<%= @redirect %>" class="query-done">
      <i class="icon-forward dashboard-tools-icon" title="done"></i> Done
    </a>
  </li>
</ul>
<% end %>
<div class="row query-edit-form-group">
  <div class="columns large-12">
    <div
      class="query-name editable-name"
      data-url="<%= query_path %>"
      data-name="query[name]"
      contenteditable="true"
    >
      <%= @query.name %>
    </div>
    <%= form_for(
        @query,
        :html => {
          :class => 'custom query-form',
          'data-query-form' => true,
          'data-target' => '[data-result-content]'
        }
      ) do |f| %>
      <%= render '/form_errors' %>
      <div class="query-editor-group field">
        <%= f.hidden_field :value %>
        <%=
        render '/editor',
          :mode => 'sql',
          :url => query_path,
          :prefix => 'query',
          :bind => '#query_value'
        %>
        <div class="row query-form-actions-group">
          <div class="columns large-2 right query-form__actions field">
            <a
              href="#"
              class="button query-form__actions__run secondary"
              data-url="<%= run_queries_path %>"
              data-run-btn
            ><i class="icon-triangle-right"></i>Run</a>
          </div>
          <div class='columns large-6'>
          </div>
          <div class='columns large-3'>
            <%= select(
              :query,
              :connection_id,
              @connections.collect { |c|
                [connection_name(c), c.id]
              },
              :class => 'medium'
            ) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="query-form__actions__result" data-result-content>
    </div>
  </div>
</div>
