<h1>Resources</h1>
<table class="table--common">
  <thead>
    <tr>
      <th>Name</th>
      <th>Token</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @queries.each do |query| %>
    <tr>
      <td><%= query.name %></td>
      <td><%= link_to query.token, data_queries_path({:token => query.token}), :target => '_blank' %></td>
      <td class="action-cell">
          <a href="<%= edit_query_path(query) %>" class="action"><i class="icon-pencil"></i></a>
      </td>
      <td class="action-cell">
        <a href="<%= query_path(query) %>" class="action" data-confirm="Are you sure?" data-method="delete">
          <i class="icon-cross"></i>
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Query', new_query_path, { :class => 'button small' } %>
