<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @query.name %>
</p>

<p>
  <b>Value:</b>
  <%= @query.value %>
</p>

<p>
  <b>Token:</b>
  <%= @query.token %>
</p>


<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
