<% @widgets.each do |widget| %>
<%= widget_css(widget).html_safe %>
<% end %>
<div
  class="dashboard gridster"
  data-margin="<%= Settings.gridster.margin %>"
  data-dimensions="<%= Settings.gridster.dimensions %>"
  >
    <ul>
        <% @widgets.each do |widget| %>
        <li class="widget-<%= widget.id %> widget" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <%= widget.html.html_safe %>
        </li>
        <% end %>
    </ul>
</div>
