<ul class="components">
  <li class="connections component">
    <a href="<%= connections_path %>">
      <i class="icon-cloud component-icon"></i>
    </a>
    <%= link_to 'Connections', connections_path %>
  </li>
  <li class="resources component">
    <a href="<%= queries_path %>">
      <i class="icon-database component-icon"></i>
    </a>
    <%= link_to 'Data source', queries_path %>
  </li>
  <li class="database component">
    <a href="<%= widgets_path %>">
      <i class="icon-line-graph component-icon"></i>
    </a>
    <%= link_to 'Widgets', widgets_path %>
  </li>
  <li class="dashboard component">
    <a href="<%= dashboards_path %>">
      <i class="icon-layout component-icon"></i>
    </a>
    <%= link_to 'Dashboards', dashboards_path %>
  </li>
</ul>
