        <div class="editor-group <%= mode %>">
          <%= spinner.html_safe %>
          <div class="header">
            <% if !defined? no_save %>
            <i class="action icon-save save-btn" data-url="<%= url %>"></i>
            <% end %>
            <span class="title"><%= mode.upcase %></span>
          </div>
          <div class="editor-container">
            <div id="<%= prefix %>_<%= mode %>_editor" class="editor" rel="ace-editor" data-bind="<%= defined?(bind) ? bind : "##{prefix}_#{mode}" %>" data-mode="<%= mode %>"></div>
          </div>
        </div>
