        <div class="editor-wrapper <%= mode %>">
          <%= spinner.html_safe %>
          <div class="header">
            <i class="icon-save save-btn" data-url="<%= url %>"></i>
            <span class="title"><%= mode.upcase %></span>
          </div>
          <div class="editor-container">
            <div id="widget_<%= mode %>_editor" class="editor" rel="ace-editor" data-bind="#widget_<%= mode %>" data-mode="<%= mode %>"></div>
          </div>
        </div>
