<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "The Observer" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar userbar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="">The observer</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider show-for-small"></li>
          <li class="has-form">
            <% if !user_signed_in? %>
              <a class="button" href="">Sign in</a>
            <% else %>
              <%= link_to(
              'Sign out',
              destroy_user_session_path,
              :method => :delete,
              :class => 'button'
              ) %>
            <% end %>
          </li>
        </ul>
        <% if user_signed_in? %>
        <ul class="right">
          <li class="divider show-for-small"></li>
          <li class="user">
            <%= current_user.email %>
          </li>
        </ul>
        <% end %>

      </section>
    </nav>
    <div class="container">
        <% if !flash[:notice].nil? %>
        <div data-alert class="alert-box success">
          <%= flash[:notice] %>
        </div>
        <% end %>
        <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
