<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "The Observer" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body
    id="app_body"
    class="<%= "#{controller.controller_name} #{controller.action_name}" %>"
    data-triggerjs="<%= "#{controller.action_name}.#{controller.controller_name}" %>"
  >
    <div class="contain-to-grid sticky">
      <nav class="top-bar userbar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="/">The observer</a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider show-for-small"></li>
            <li class="has-form actions">
              <% if !user_signed_in? %>
                <a class="login action" href="<%= new_user_session_path %>">
                  <i class="icon-login"></i>
                </a>
              <% else %>
                <a href="<%= destroy_user_session_path %>" data-method="delete" class="logout action">
                  <i class="icon-logout"></i>
                </a>
              <% end %>
            </li>
          </ul>
          <% if user_signed_in? %>
          <ul class="right">
            <li class="divider show-for-small"></li>
            <li class="user">
              <%= current_user.email %>
            </li>
          </ul>
          <% end %>

        </section>
      </nav>
    </div>
    <div class="container row">
        <% if !flash[:notice].nil? %>
        <div data-alert class="alert-box success">
          <%= flash[:notice] %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
        <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
    <%= render '/modal' %>
    <div id="zclip" data-swf="<%= asset_path('ZeroClipboard.swf') %>"></div>
  </body>
</html>
