<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "The Observer" %></title>

    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body
    id="app_body"
    class="<%= "#{controller.controller_name} #{controller.action_name}" %>"
    data-triggerjs="<%= "#{controller.action_name}.#{controller.controller_name}" %>"
  >
      <nav class="top-bar userbar">
        <section class="top-bar-section components-menu">
          <ul class="left title-area">
            <li class="has-dropdown name"><a href="/" class="brand-title">The observer</a>
            <ul class="dropdown">
              <li>
                <a
                  href="<%= queries_path %>"
                  ><i class="icon-database"></i> Resources</a>
              </li>
              <li>
                <a
                  href="<%= widgets_path %>"
                  ><i class="icon-line-graph"></i> Widgets</a>
              </li>
              <li>
                <a
                  href="<%= dashboards_path %>"
                  ><i class="icon-layout"></i>Dashboards</a>
              </li>
            </ul>
            </li>
            <li>
              <div class="global-spinner">
                <%= spinner.html_safe %>
              </div>
            </li>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
              <li class="divider"></li>
              <% if !user_signed_in? %>
              <li>
                <a class="login action" href="<%= new_user_session_path %>">
                  <i class="icon-login"></i> Log in
                </a>
              </li>
              <% else %>
              <li class="has-dropdown">
                <a href="#"><i class="icon-user"></i> <%= current_user.username %></a>
                <ul class="dropdown">
                  <li>
                    <a href="<%= edit_user_registration_path %>">
                      <i class="icon-pencil"></i> Update account
                    </a>
                    <a href="<%= destroy_user_session_path %>" data-method="delete" class="logout action" title="logout">
                      <i class="icon-logout"></i> Log out
                    </a>
                  </li>
                </ul>
              </li>
              <% end %>
          </ul>
          <%= yield :tools %>
        </section>
      </nav>
    <div class="container">
        <% if !flash[:notice].nil? %>
        <div data-alert class="alert-box success">
          <%= flash[:notice] %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
        <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
    <%= render '/modal' %>
    <div id="zclip" data-swf="<%= asset_path('ZeroClipboard.swf') %>"></div>
  </body>
</html>
